<?xml version='1.0' encoding='utf-8'?>
<widget id="list.simple.udemy" version="2.25" xmlns="http://www.w3.org/ns/widgets">
  <name>simpleList</name>
  <description>Very simple To-Do list created as a project for a Udemy course.</description>
  <author email="info@myapp.com" href="http://www.myapp.com">Amazing App Team</author>
  
</widget>